{
  "arrowParens": "avoid",
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "quoteProps": "consistent",
  "printWidth": 80,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "requirePragma": false
}
